<% action_url = Comment.exists?(comment) ? post_comment_url(post_id: comment.post_id, id: comment.id) : post_comments_url(comment.post_id) %>
<% method_fun = Comment.exists?(comment) ? form_patch : "" %>
<% button_name = Comment.exists?(comment) ? "Edit" : "Save"  %>

<form action="<%= action_url %>" method="POST">
<%= form_auth %><%= method_fun %>
<input type="hidden" name="comment[post_id]" value="<%= comment.post_id %>">
<input type="hidden" name="comment[parent_comment_id]" value="<%= comment.parent_comment_id %>">
<textarea name="comment[body]" value="" id="body" placeholder="type your comment in here"></textarea><br>

<input type="submit" value="<%= button_name %>">

</form>