
<div class="comment-wrapper clearfix" id="<%= comment.escape('id') %>">
  <div class="vote-wrapper">
    <div class="upvote-comment upvote" data-id="<%= comment.escape('id') %>"></div>
    <div class="vote-score"><%= comment.escape('votes') %></div>
    <div class="downvote-comment downvote" data-id="<%= comment.escape('id') %>"></div>
  </div>
  <div class="comment-info row-info">
    <%= comment.escape('body') %> <br>
    submitted by <a href="#/users/<%= comment.escape('author_id') %>"><%= comment.escape('author_name') %></a>
    <div class="buttons-container"></div>
  </div>
</div>

<ul class="clearfix">

</ul>
