
<div class="post-wrapper clearfix">
  <div class="vote-wrapper clearfix">
    <div class="upvote-post upvote" ></div>
    <div class="vote-score"><%= post.escape('votes') %></div>
    <div class="downvote-post downvote"></div>
  </div>

<% if (post.escape('img_url') === "") { %>
  <div class='post-thumbnail img-not-found'></div>
<% } else { %>
  <div class='post-thumbnail' src="<%= post.escape('img_url') %>"></div>
<% }%>

  <div class="post-info row-info clearfix">
    <a href="<%= post.escape('url') %>"><%= post.escape('title') %></a><br>
    submitted by <a href="#/users/<%= post.escape('author_id') %>"><%= post.escape('author') %></a><br>
    <a href="#/posts/<%= post.escape('id') %>"><%= post.escape('comment_count') %>  comments</a>

    <% if (post.escape('is_author') === "true") { %>
      <button class="delete-post" data-sub-id="<%= sub.id %>">delete</button>
      <a href="#/posts/<%= post.escape('id') %>/edit/<%= sub.id %>">Edit</a>
    <% }%>

  </div>
</div>
