<td>

  <div class="vote-wrapper">
    <button class="upvote-post" data-post-id="<%= post.escape('id') %>">upvote</button>
    <span><%= post.escape('votes') %></span>
    <button class="downvite-post" data-post-id="<%= post.escape('id') %>">downvote</button>
  </div>
</td>
<td>
  <a href="#/posts/"+"<%= post.escape('id') %>"><%= post.escape('title') %></a>   </td>
<td>
  <%= post.escape('description') %><br><%= post.escape('comments_count') %>  comments
</td>
<td>
  <% if (post.escape('is_moderator') === "true") { %>
    <button class="delete-post" data-id="<%= post.escape('id') %>">delete</button>
    <a href="#/posts/<%= post.escape('id') %>/edit">Edit</a>
  <% }%>

</td>