
<div class="post-wrapper clearfix" id="">
  <div class="vote-wrapper clearfix" id="<%= post.escape('id') %>">
    <div class="upvote-post upvote" ></div>
    <div class="vote-score"><%= post.escape('votes') %></div>
    <div class="downvote-post downvote"></div>
  </div>

<% if (post.escape('img_url') === "") { %>
  <a href="<%= post.escape('url') %>"><div class='post-thumbnail img-not-found'></div></a>
<% } else { %>
  <a href="<%= post.escape('url') %>"><img class='post-thumbnail' src="<%= post.escape('img_url') %>"></a>
<% }%>

<% post_url = post.escape('url') === "" ? "#/posts/"+post.escape('id') : post.escape('url') %>

  <div class="post-info row-info clearfix">

    <div class="sub-title"><a href="<%= post_url  %>"><%= post.escape('title') %></a><div>

     <div class='user-name'>submitted by
      <a href="#/users/<%= post.escape('author_id') %>"><%= post.escape('author') %></a>
    </div>
    <br>


  <div>
    <a href="#/posts/<%= post.escape('id') %>" class="comments-count-container"><%= post.escape('comment_count') %>  comments</a>
  </div>
  <span class="mod-options">
    <% if (post.escape('is_author') === "true") { %>
      <a class="delete-post" data-sub-id="<%= sub.id %>">delete</a>
      <a href="#/posts/<%= post.escape('id') %>/edit/<%= sub.id %>">Edit</a>
    <% }%>

  </span>
  <button class="change-img-url">change img</button>

  </div>
</div>
