<h3>All Users</h3>

<%= link_to "subs index page", subs_url %>
<table>

  <ul>
    <tr>
      <td>Name:</td>
      <td>post karma:</td>
      <td>comment karma:</td>
    </tr>
  <% @user.each do |user| %>
    <% karmas = user.get_karma %>
    <li>

  <tr>
    <td><a href="<%= user_url(user) %>"><%= user.name %></a></td>    <td><%= karmas[:post_karma] %> </td><td><%= karmas[:comment_karma] %></td><td><% if current_user == user %>
      <%= button_to "delete user", user_url(user) ,method: :delete %>
    <% end %></td>
  </tr>

    </li>
  <% end %>

  </ul>

</table>






<!-- <%#= link_to "back to create new user", new_user_url%> -->
