<h3>All Users</h3>
<br>
<%= link_to "subs index page", subs_url %>
<ul>
<% @user.each do |user| %>
  <% karmas = user.get_karma %>
  <li><a href="<%= user_url(user) %>"><%= user.name %></a> post karma: <%= karmas[:post_karma] %> comment karma: <%= karmas[:comment_karma] %>
    <% if current_user == user %>
      <%= button_to "delete user", user_url(user) ,method: :delete %>
    <% end %>
  </li>
<% end %>

</ul>

<!-- <%#= link_to "back to create new user", new_user_url%> -->
