<header class="header-nav">
<div class="reddit-logo"></div>
<nav class="subs-nav">
  <% Sub.all.each do |sub| %>
  <a href="<%= sub_url(sub) %>"><%= sub.title %></a>
  <% end %>

</nav>

<div class="clearfix">
  <div class="login-container clearfix">

    <% if sign_in? %>

    <script type="text/javascript">
    window.current_user = {
      id: "<%= current_user.id %>",
      name: "<%= current_user.name %>"
    }
    </script>

     <span>Welcome! <a href="<%= user_url(current_user) %>"><%= current_user.name %></a> </span>
      <form action="<%= sign_out_all_sessions_url %>" method="POST">
        <%= form_auth %><%= form_delete %>
        <input type="submit" value="Sign Out All Sessions">
      </form>
      <form action="<%= sign_in_url(current_sign_in) %>" method="POST">
        <%= form_auth %><%= form_delete %>
        <input type="submit" value="Sign Out">
      </form>
    <% else %>
     <div class="Sign-in-up-container"><%= link_to "Sign In", new_sign_in_url %>
      <%= link_to "Sign Up", new_user_url %></div>
    <% end %>
  </div>
</div>


</header>