
<div class="sidebar">
<h3>Subs show page</h3>




<div>name: <%= sub.escape('name') %></div>
<div>title: <%= sub.escape('title') %></div>
<p>description: <%= sub.escape('description') %></p>
  <%= sub.escape('subs_count') %> subscribers


<ul>
  <% sub.mods().forEach(function(mod){ %>
    <li><%= mod.escape('name') %></li>
  <% }) %>
</ul>
</div>



<table class="posts-wrapper">


</table>
