

<ol class="posts-wrapper subs-wrapper">

</ol>




<div class="sidebar" >

  <div class='search-form-container'>
    <form class="search-form">
      <input type="text" name="search_value" value="" class="search-bar">
      <button>search</button>
    </form>
  <h3>Subs show page</h3>

  <div>name: <%= sub.escape('name') %></div>
  <div>title: <%= sub.escape('title') %></div>
  <p>description: <%= sub.escape('description') %></p>
  <p><%= sub.escape('subs_count') %> subscribers</p>
  <a href="#/posts/new/<%= sub.escape('id') %>" class="create-button">Create new post</a><br>

  <h3>moderators</h3>
  <ol>
    <% sub.mods().forEach(function(mod){ %>
      <li>
          <div class="unsub sub-toggle" style="float:left">unmod</div>
        <a href="#/users/<%= mod.escape('id') %>"><%= mod.escape('name') %></a>
        </li>
    <% }) %>
  </ol>
</div>
