


<ol class="posts-wrapper subs-wrapper">

</ol>




<div class="sidebar" >
  <h3>Subs show page</h3>

  <div>name: <%= sub.escape('name') %></div>
  <div>title: <%= sub.escape('title') %></div>
  <p>description: <%= sub.escape('description') %></p>
  <p><%= sub.escape('subs_count') %> subscribers</p>
  <a href="#/posts/new/<%= sub.escape('id') %>" class="create-button">Create new post</a><br>

  <h3>moderators</h3>
  <ol>
    <% sub.mods().forEach(function(mod){ %>
      <li><a href="#/users/<%= mod.escape('id') %>"><%= mod.escape('name') %></a></li>
    <% }) %>
  </ol>
</div>
