
<div class="sidebar">
<h3>Subs show page</h3>

<div>name: <%= sub.escape('name') %></div>
<div>title: <%= sub.escape('title') %></div>
<p>description: <%= sub.escape('description') %></p>
  <%= sub.escape('subs_count') %> subscribers

<h3>moderators</h3>
<ul>
  <% sub.mods().forEach(function(mod){ %>
    <li><a href="#/users/<%= mod.escape('id') %>"><%= mod.escape('name') %></a></li>
  <% }) %>
</ul>
</div>


<a href="#/posts/new">Create new post</a><br>
<table class="posts-wrapper">

</table>
