<h3>Eidt New Sub</h3>

<form action="<%= sub_url(@sub) %>" method="POST">
<%= form_auth %>
<%= form_patch %>

<label for="name">name</label>
<input type="text" name="sub[name]" value="<%= @sub.name %>">
<br>

<label for="title">title</label>
<input type="text" name="sub[title]" value="<%= @sub.title %>">
<br>

<label for="description">description</label>
<textarea name="sub[description]" ><%= @sub.description %></textarea>

<br>

<button>Update Sub!</button>
</form>