<div class="sidebar">
  <h3>Eidt New Sub</h3>

  <form action="<%= sub_url(@sub) %>" method="POST">
  <%= form_auth %>
  <%= form_patch %>
  <table>
    <tr>
      <td><label for="name">name</label></td>
      <td><input type="text" name="sub[name]" value="<%= @sub.name %>"></td>
    </tr>
    <tr>
      <td><label for="title">title</label></td>
      <td><input type="text" name="sub[title]" value="<%= @sub.title %>"></td>
    </tr>
    <tr>
      <td><label for="description">description</label></td>
      <td><textarea name="sub[description]" ><%= @sub.description %></textarea></td>
    </tr>

  </table>


  <button class="create-button">Update Sub!</button>
  </form>
</div>
