<div class="add-padding-left">
<section class="main-body"></section>
<h3>all subreddits</h3>
<%= link_to "create new sub", new_sub_url%>
<table>
    <% @subs.each do |sub| %>
    <tr>
      <td>
        <div class="vote-wrapper"><%= button_to "Upvote", upvote_sub_url(sub) %><span><%= sub.votes %></span>
        <%= button_to "Downvote", downvote_sub_url(sub) %>
        </div>
      </td>

      <td><a href="<%= sub_url(sub) %>"><%= sub.name %> </a>

    </td>
    <td><%= sub.description %><br><%= sub.subscribers.count %> subscribers</td>
    <td> </td>
    <td><% if current_user.mod_subs.include?(sub) %>
      <%= button_to "delete sub", sub_url(sub) ,method: :delete %>
    <% end %></td>
    </tr>
  <% end %>
</table>


</div>



