<h3>Create New Post</h3>

<form action="<%= posts_url({sub_id: @sub.id}) %>" method="POST">
<%= form_auth %>
<label for="title">Title:</label>
<input type="text" name="post[title]" value="<%= @post.title %>">
<br>

<label for="url">URL:</label>
<input type="text" name="post[url]" value="<%= @post.url %>">
<br>

<label for="body">body</label>
<textarea name="post[body]" ><%= @post.body %></textarea>
<br>

<label for="sub">sub</label>
<input type="text" name="subname" value="<%= @sub.name %>" id="sub">
<br>

<button>Create Post!</button>
</form>