<h3>Post show page</h3>

<ul>
  <li>title: <a href="<%= @post.url %>"><%= @post.title %></a> by author: <a href="<%= user_url(@author) %>"><%= @author.name %></a></li>
  <p>content: <%= @post.body %></p>
</ul>

<h3>Comments</h3>
<form action="<%= post_comments_url(@post) %>" method="POST">
  <textarea name="comment[body]"></textarea>
  <input type="submit" value="save">
</form>
<br>

<h3>x-posted in the following subs</h3>
<ol>
  <% @post.subs.each do |sub| %>
    <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
  <% end %>
</ol>

<!--make comments later -->
<% if current_user == @post.author %>
  <br>
    <%= link_to "edit post", edit_post_url(@post) %>
  <br>
<% end %>



