<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>


</head>
<body>
<!-- <div class="post-wrapper clearfix">
  <div class="vote-wrapper">
    <div class="arrow-up" >upvote</div><div class="vote-count">d
    </div><div class="arrow-down">downvote</div>
  </div>
  <div class="post">
    <div><a href="#">test message</a> by <a href="#">test_author</a></div>
    <div class="comment-link"><a href="#">testcomment</a></div>
  </div>
</div> -->




<% if sign_in? %>
  Welcome!
  <a href="<%= user_url(current_user) %>"><%= current_user.name %></a>
  ♫ ~Adventure Time, C'mon grab your friends, We'll go to very distant lands~ ♫
  <br>
  <form action="<%= sign_out_all_sessions_url %>" method="POST">
    <%= form_auth %><%= form_delete %>
    <input type="submit" value="Sign Out All Sessions">
  </form>
  <br>
  <form action="<%= sign_in_url(current_sign_in) %>" method="POST">
    <%= form_auth %><%= form_delete %>
    <input type="submit" value="Sign Out">
  </form>
<% else %>
  <%= link_to "Sign In", new_sign_in_url %>
  <%= link_to "Sign Up", new_user_url %>
<% end %>

<br>


<% if flash[:errors] %>
<%= flash[:errors] %>
<% end %>


<div id="header"></div>
<div id="main">
  <%= yield %>
</div>

<div id="sidebar"></div>




</body>
</html>
