<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style>


  </style>
</head>
<body>


<%= render "shared/subs_nav" %>

<% if flash[:errors] %>
<%= flash[:errors] %>
<% end %>


<div id="header"></div>
<div id="main">
  <div class="body-wrapper">
    <%= yield %>
  </div>
</div>
<div id="sidebar"></div>





</body>
</html>
